{% extends 'base.html.twig' %}

{% block title %}{{ articles.slug.title }}{% endblock %}

{% block body %}


    <nav>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 articleOn">
                    <img src="/uploads/{{ articles.img }}" alt="IMG">
                </div>
            </div>
        </div>

    </nav>



    <section>
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 headT">
                        <h1>{{ articles.title }}</h1>

                        <p><i id="clockInBlog" class="far fa-clock">{{ articles.CreatedAt|date('Y-m-d') }}</i></p>

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 articleTwo">
                        <p>{{ articles.text|raw }}</p>
                    </div>
                </div>
            </div>
        </article>
    </section>
{% endblock %}