{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/Blog/blog.css">
{% endblock %}
{% block body %}


<nav class="BlgN">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 navInBlog">
                    <div>
                        <h1>Блог</h1>
                        <p>тут немного текста о нас</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</nav>

<main>

    <section class="mainS">
        <div class="container">
            {% for article in pagination %}
            <div class="row">
                <div class="col-lg-12 col-md-12 oneObjBlg">
                    <div class="infOneObj">
                        <h1>{{ article.title }}</h1>
                        <p>{{ article.description|raw }}<p>
                    </div>imge
                    <div class="col-lg-12 col-md-12 infTwoObj">
                        <p><i id="clockInBlog" class="far fa-clock"></i>{{ article.CreatedAt|date('Y/m/d') }}</p>
                        <p><a href="{{ path('article',{'slug':article.slug}) }}">Подробнее</a> </p>
                    </div>
                    <div class="imgInOneObj">
                        <img src="/uploads/{{ article.img }}">
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="row">
                <div class="col-lg-12 col-md-12 numPage">
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>

    </section>

    {{ render_esi(url(
        'contacts'
    )) }}



</main>
{% endblock %}