{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}
{% block body %}
    <nav>
        <section id="mainUp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 octH">
                        <h1>OctoWice – Закажи сайт у культурных <br> профессионалов!</h1>
                        <p>
                            <span >Сайты помогут – построить имидж, увеличить продажи,<br> привлечь новых клиентов.</span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="Post">
                            <a id="noBorder" href="{{ path('blog') }}" class="BuCen">
                                <p>Узнать о нас? </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 pointers">
                        <img id="down" src="/img/pointersNew.png" alt="pointers">
                    </div>
                </div>
            </div>
            <img id="octoImg" src="/img/octopus.jpg" alt="octopus" />
        </section>
    </nav>
    <main>
        <section class="OneSec">
            <div class="container" id="desktop-types">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h2 id="siteType">Типажи сайтов которые мы делаем</h2>
                        <p id="subSiteType"><small>А какой сайт нужен вам?</small></p>
                    </div>
                </div>
                    <img id="line" src="/img/EllipseOne.png" alt="Line">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="headerWrapperL">
                            <h3>Лендинг страница <img id="iconHL" src="/img/icon.png" alt="icon"></h3>
                            <p>- одностраничный сайт отличается повышенной конверсией, меньшей информативностью по сравнению с другими сайтами</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-lg-4 col-md-4">
                        <div class="headerWrapperR">
                            <h3>Сайт каталог</h3>
                            <p>- идеальный тип сайта для отображения товаров или услуг методом каталога</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="headerWrapperLS">
                            <h3>Интернет магазин <img id="iconHL" src="/img/icon.png" alt="icon"></h3>
                            <p>- любимые всеми магазины, похожи на сайты каталоги, однако есть функция покупки</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-lg-4 col-md-4">
                        <div class="headerWrapperRI">
                            <h3>Информационный сайт</h3>
                            <p>- сайт с повышенной информативностью, подходит для описания вашего проекта</p>
                        </div>
                    </div>
                </div>
                <div class="servButton">
                    <a id="noBorder" href="{{ path('services') }}"><h2>Наши услуги</h2></a>
                </div>
            </div>
            <div class="container" id="mobile-types">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2 id="siteType-mobile">Типажи сайтов которые мы делаем</h2>
                        <p id="subSiteType-mobile">А какой сайт нужен вам?</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mobileWrapper-1">
                            <h3 id="wrapper-header">Лендинг страница</h3>
                            <p id="wrapper-p">- одностраничный сайт отличается повышенной конверсией, меньшей информативностью по сравнению с другими сайтами</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mobileWrapper-2">
                            <h3 id="wrapper-header">Сайт каталог</h3>
                            <p id="wrapper-p">- идеальный тип сайта для отображения товаров или услуг методом каталога</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mobileWrapper-3">
                            <h3 id="wrapper-header">Интернет магазин</h3>
                            <p id="wrapper-p">- любимые всеми магазины, похожи на сайты каталоги, однако есть функция покупки</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mobileWrapper-4">
                            <h3 id="wrapper-header">Информационный сайт</h3>
                            <p id="wrapper-p">- сайт с повышенной информативностью, подходит для описания вашего проекта</p>
                        </div>
                    </div>
                </div>
                <div class="servButtonMobile">
                    <a id="noBorder" href="{{ path('services') }}"><h2>Наши услуги</h2></a>
                </div>
                <img src="/img/Elipse-mobile.png" alt="elipse" id="mobile-line">
            </div>
        </section>
        <section class="TwoSec">

            <h1 class="forMb">Этапы создания сайта</h1>
            <p>Что же мы пройдём, создавая ваш проект?</p>


            <div class="blockOne">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 blockCol">

                            <div>
                                <p>Знакомимся с вами, узнаем ваши пожелания, анализируем вашу нишу (лидеров рынка)</p>
                                <h3>Старт</h3>
                            </div>

                            <div>
                                <p>После полного анализа рынка мы можем создать ядро </p>
                                <h3>Создание семантического ядра </h3>
                            </div>

                            <div>
                                <p>На основе ядра прописываться тексты сайта</p>
                                <h3>Написание текстов </h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="blockTwo">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <img src="/img/RectangleOne.png" alt="Rectangle" width="100%">
                        </div>
                    </div>
                </div>

            </div>

            <div class="blockThere">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 blockCol">

                            <div>
                                <h3>Дизайн </h3>
                                <p>Благодаря прописанным текстам и созданной структуре сайта ранее, делаем удобный и красивый дизайн вашего сайта </p>
                            </div>

                            <div>
                                <h3>Верстка </h3>
                                <p>Создание прототипа сайта</p>
                            </div>

                            <div>
                                <h3>Оптимизация и доработка проекта  </h3>
                                <p>Доработка текстов, внешнего вида и сео-показателей</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="buttonBlock">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 brifC">
                            <a id="noBorder" href="{{ path('services') }}">
                                <div class="firstButton">
                                    <p>Наши услуги</p>
                                </div>
                            </a>
                            <a  id="noBorder">
                                <div class="twoButton">Заказать звонок</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="etaps-mobile">
                <div class="container">
                     <div class="row">
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <ul id="etaps-list">
                                <li>
                                    <h4>Старт</h4>
                                    <p>
                                    </p>
                                </li>
                                <li>
                                    <h4>Создание семантического ядра</h4>
                                    <p>
                                        - после полного анализа рынка мы можем создать ядро
                                    </p>
                                </li>
                                <li>
                                    <h4>Написание текстов</h4>
                                    <p>
                                        - на основе ядра прописываться тексты сайта
                                    </p>
                                </li>
                                <li>
                                    <h4>Дизайн</h4>
                                    <p>
                                        - благодаря прописанным текстам и созданной структуре сайта ранее, делаем удобный и красивый дизайн вашего сайта
                                    </p>
                                </li>
                                <li>
                                    <h4>Верстка</h4>
                                    <p>
                                        - создание прототипа сайта
                                    </p>
                                </li>
                                <li>
                                    <h4>Оптимизация и доработка проекта</h4>
                                    <p>
                                        - доработка текстов, внешнего вида и сео-показателей
                                    </p>
                                </li>
                                <li>
                                    <h4>Сдача проекта вам</h4>
                                    <p>
                                    </p>
                                </li>
                            </ul>
                         </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="ThereSec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 hInImg">
                        <h1>Зачем заказывать сайт?</h1>
                        <p>Получите больше информации в нашем блоге</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 blogTextInf">
                        <p class="op-gradient" id="back">Во времена ежесекундной конкуренции в разных нишах, заказать сайт кажется самым логичным решением. Сайт – работает всё время, для вас, повышая вовлеченность в ваш бизнес или создавая спрос на ваши товары / услуги.  У нас можно заказать сайт под любой вид деятельности. Будь-то сайт визитка, лендинг страница, сайт каталог или вовсе интернет магазин мы гарантируем индивидуальный подход к каждому проекту.  Мы делаем анализ конкурентов по внешнему виду, сео-составляющим, анализируя по ходу ошибки и удачные моменты в их работах.</p>
                        <br>

                        <p class="willHide"><b>Что мы предлагаем?</b> Недорогие сайты по рынку и за свое качество, мы предоставляем пакеты 3 уровней, дешёвый сайт – это сайт по созданным шаблонам заранее, в каждом шаблоне вы можете изменить определенный перечень свойств.
                            Собственный недорогой сайт – это сбалансированная по цене и качеству услуга, анализ рынка, индивидуальный дизайн, возможность заказать сео-тексты и дополнения из списка.
                            Профессиональный пакет – сайт, построенный на анализе конкурентов, отлажен до идеала. В пакет входит полугодовая техническая поддержка, сео оптимизация и добавление ссылочной массы, контроль показателей сайта и составление отчётов на протяжении 3 месяцев. А также гарантия на наши услуги в течении полугода.
                            Заказывая сайт в нашей студии, вы получаете работающие решения, необходимые именно вашему бизнесу. Мы относимся к вам как к партнёрам, из-за чего у нас интерес в развитии вашего проекта в разы больше чем у простых студий. Ещё по одной причине у нас сильный интерес в развитии вашего проекта – чем успешнее ваш проект будет - лучше реклама будет наших услуг.
                        </p>
                        <p class="willHide"><b>Почему стоит обратится к нам?</b>
                            Заказывая дешевый сайт у людей, которые только начинают развитие в сфере веб индустрии вы ставите под вопрос успешность вашего проекта. Из-за незнания мелочей и банальной неопытности вы рискуете потерять рейтинг в поисковике. Увеличение сложности продвижение, больше затрат на рекламу – вот что вас ждёт. Заказав сайт у профессионалов, вы сразу же отделяете себя от этих проблем.  Вовремя работы над проектом вы получаете еженедельный отчёт по выполненной работе, то есть вам остается только проверить.
                            Недорогие сайты по всей Украине вы можете заказать в веб-студии OctoWice, наше сотрудничество не будет безуспешным, мы сможем повысить вовлеченность аудитории, повысить конверсию и в конце концов сделать сайт отличающимся отменным дизайном, продуманной структурой и отличной работой.
                            Свяжитесь с нами!
                        </p>
                        <button class="readmore" id="button_show" onclick="showP()">Читать дальше</button>
                    </div>
                </div>
            </div>
        </section>
        <section id="scrlO" class="FourSec">
            <div class="container">
                <div class="row">
                    <div id="form" class="col-lg-12 col-md-12 infoFS">
                        <h1>Наши Контакты</h1>
                        <p><small><i>Свяжись с нами. Работаем с 10:00 - 19:00</i></small></p>
                        <div class="col-lg-12 col-md-12 conFImg">
                            <div class="oneObj" onclick="window.location.href = 'tel:38(066)010-51-78'">
                                <i class="fas fa-phone"></i>
                                <p><small>38(066)010-51-78</small></p>
                            </div>
                            <div class="twoObj" onclick="window.location.href = 'mailto:octowice@gmail.com'">
                                <i class="fas fa-envelope"></i>
                                <p><small>octowice@gmail.com</small></p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 conFImg-mobile">
                                <p onclick="window.location.href = 'tel:38(066)010-51-78'"><i class="fas fa-phone"></i><small>38(066)010-51-78</small></p>
                                <p onclick="window.location.href = 'mailto:octowice@gmail.com'"><i class="fas fa-envelope"></i><small>octowice@gmail.com</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ render_esi(url(
                'contacts'
            )) }}
    </section>
</main>
<script>
        function showP() {
            let list = document.getElementsByClassName('willHide');
            for (let i = 0; i < list.length; i++) {
                list[i].style.display = 'block';
            }
            document.getElementById('back').removeAttribute('class');
            document.getElementById('button_show').style.display = 'none';
        }
</script>
{% endblock %}