{% extends 'base.html.twig' %}
{% block title %}Панель{% endblock %}
{% block body %}
<a href="{{ path('addArticle') }}">Create</a>
    {% for article in articles %}
        <h1>{{ article.title }}</h1>
        <br>
        <p>{{ article.CreatedAt|date }}</p>
        <img src="/uploads/{{ article.img }}">
        <br>
        <p>{{ article.text }}</p>
    {% endfor %}
{% endblock %}